<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.milkshakestudio.sleeptimer.sleeptimer">

    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

        <activity android:name=".TimerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".DummyActivity"
            android:theme="@style/noAnimTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".TestBench"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
    </application>

</manifest>